{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/change-password" method="post">
  <div class="mb-3">
    <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
  </div>
  <div class="mb-3">
    <input class="form-control mx-auto w-auto" name="new-password" placeholder="Enter new password" type="password">
  </div>
  <div class="mb-3">
    <input class="form-control mx-auto w-auto" name="repeated-new-password" placeholder="Repeat new password"
      type="password">
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
