{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

{% if transactions %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-start">Symbol</th>
      <th scope="col" class="text-end">Shares</th>
      <th scope="col" class="text-end">Price</th>
      <th scope="col" class="text-end">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <th class="text-start">{{ transaction.symbol }}</th>
      <td class="text-end">{{ transaction.shares }}</td>
      <td class="text-end">{{ transaction.price | usd }}</td>
      <td class="text-end">{{ transaction.datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}
