{% extends "layout.html" %}

{% block title %}
New
{% endblock %}

{% block main %}
<div class="d-flex flex-row justify-content-between align-items-center mb-4">
  <h1 class="text-start m-0 mb-4">Create New Note</h1>

  <a href="/" class="btn btn-primary">
    <span class="d-flex align-items-center gap-1">
      {%include 'icons/cancel.svg' %} Cancel
    </span>
  </a>
</div>

{% from "macros/_note_form.html" import note_form %}
{{ note_form(form_action='/note/new', title_value='', content_value='', submit_text='Create') }}
{% endblock %}