{% extends "layout.html" %}

{% block title %}
Notes
{% endblock %}

{% block main %}
<div class="d-flex flex-row justify-content-between align-items-center">
  <h1>Trash</h1>
</div>


{% if notes %}
<ul id="notesList" class="list-group mt-4">
  {% for note in notes %}
  <li style="cursor: pointer" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between gap-4">
      <div class="d-flex flex-grow-1 gap-4 align-items-center justify-content-between overflow-hidden">
        <p style="max-width: 200px;" class="m-0 fw-semibold fs-5 text-truncate">{{ note.title }}</p>
        <p class="m-0 text-muted text-truncate">{{ note.updated_at }}</p>
      </div>

      <div class="d-flex gap-2">
        <a href="/trash/view/{{ note.id }}" class="btn btn-secondary view-note-link">
          <span class="d-flex align-items-center gap-1">
            {%include 'icons/eye.svg' %} View
          </span>
        </a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="mt-4">Trash empty.</p>
{% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const notesList = document.getElementById('notesList');
    if (notesList) {
      notesList.addEventListener('click', event => {
        const target = event.target.closest('.list-group-item');
        if (target) {
          const notePath = target.querySelector('.view-note-link').getAttribute('href');

          window.location.href = notePath;
        }
      });
    }
  });
</script>
{% endblock %}